<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Layout</title>
    <th:block th:fragment="style">
        <link rel="shortcut icon" href="/images/favicon.png">
        <link rel="stylesheet" href="/css/style.css">
    </th:block>
</head>

<body>

<div class="header" th:fragment="header">
    <h1>Furama Resort Danang</h1>
    <h3>A Culinary Beach Resort In Vietnam</h3>
    <div class="logo">
        <img src="/images/furama-logo.png" alt="Error" width="50">
    </div>
</div>
<div class="topnav-container" th:fragment="topnav-container">
    <div class="topnav">
        <a href="/">Home</a>
        <a href="#">Services</a>
        <a href="#">Search</a>
        <a href="#">Review</a>
    </div>
</div>
<div class="row">
    <div class="column side left" th:fragment="column-left">
        <h3>Managements</h3>
        <ul id="menu">
            <li><a href="#">Customer</a>
                <ul>
                    <li><a href="/add-customer">Add new</a></li>
                    <li><a href="/list-customer">View list</a></li>
                    <li><a href="/search-customer">Search</a></li>
                </ul>
            </li>
            <li><a href="#">Contract</a>
                <ul>
                    <li><a href="/add-contract">Add new</a></li>
                    <li><a href="#">View list</a></li>
                    <li><a href="#">Edit</a></li>
                    <li><a href="#">Delete</a></li>
                </ul>
            </li>
            <li><a href="#">Staff</a>
                <ul>
                    <li><a href="/add-staff">Add new</a></li>
                    <li><a href="#">View list</a></li>
                    <li><a href="#">Edit</a></li>
                    <li><a href="#">Remove</a></li>
                </ul>
            </li>
            <li><a href="#">Detail Contract</a>
                <ul>
                    <li><a href="/add-detail-contract">Add new</a></li>
                    <li><a href="#">View list</a></li>
                    <li><a href="#">Edit</a></li>
                    <li><a href="#">Delete</a></li>
                </ul>
            </li>
            <li><a href="#">Service</a>
                <ul>
                    <li><a href="/add-service">Add new</a></li>
                    <li><a href="#">View list</a></li>
                    <li><a href="#">Edit</a></li>
                    <li><a href="#">Remove</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="column middle" th:fragment="column-middle">
        <h3>Main Content</h3><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id eligendi ducimus at ipsam eaque, adipisci
            aliquam eum assumenda minus esse.</p>
        <p>Exercitationem quaerat dolorem, inventore modi rerum nesciunt excepturi, quidem aliquid magni animi
            incidunt porro illo. Tenetur hic fuga sapiente et!</p>
        <p>Alias explicabo placeat consectetur accusamus vitae voluptas? Ab iste harum doloremque illum dolores est
            veniam quo, nemo sit, beatae minus.</p>
        <p>Recusandae assumenda, accusamus magni unde iusto ipsa asperiores vel reiciendis officiis id non est minus
            animi voluptatem cumque perferendis nesciunt!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda cum cumque doloremque maiores!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dignissimos doloremque eius expedita
            iusto magni modi, obcaecati quaerat! Est, itaque, quos.</p>
    </div>

    <div class="column side right" th:fragment="column-right">
        <h3>Features</h3>
        <ul>
            <li><a href="#">Lorem, ipsum dolor.</a></li>
            <li><a href="#">Nesciunt, illum quibusdam.</a></li>
            <li><a href="#">Deleniti, at libero.</a></li>
            <li><a href="#">Delectus, fugit voluptatem.</a></li>
        </ul>
    </div>
</div>

<div class="footer" th:fragment="footer">
    <p><strong>&copy;2020 CodeGym Danang</strong></p>
</div>
<!--<footer th:fragment="footer">-->
<!--    &copy; 2020 CodeGym-->
<!--</footer>-->
</body>
</html>
