<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Blog</title>
</head>
<body>
<p>
    <a href="/blogs">Back to blog list</a>
</p>
<form th:action="@{/edit-blog}" th:object="${blog}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}"/>
    <fieldset data-th-align="center" style="width: 600px">
        <legend><strong>Edit Blog</strong></legend>
        <label for="blog-title"><strong>Title:</strong>&emsp;</label>
        <input type="text" id="blog-title" th:field="*{title}"><br><br>
        <label for="blog-author"><strong>Author:</strong></label>
        <input type="text" id="blog-author" th:field="*{author}"><br><br>
        <label for="blog-content"></label>
        <textarea id="blog-content" placeholder="Blog contents..." style="font-size: large;" maxlength="1200"
                  cols="80" rows="15" th:field="*{content}"></textarea><br><br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        <input type="submit" value="Edit"/>
    </fieldset>
</form>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
</body>
</html>