<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${message + ' Welcome ' + user.firstName}" style="color: lime"></h1>
<h2 style="color: darkred">User Information:</h2>
<h3>Full Name: <span th:text="${user.firstName} + ' ' + ${user.lastName}"></span></h3>
<h3>Age: <span th:text="${user.age}"></span></h3>
<h3>Phone Number: <span th:text="${user.phoneNumber}"></span></h3>
<h3>Email: <span th:text="${user.email}"></span></h3>
</body>
</html>