<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List blogs</title>
</head>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<body>
<p><a th:href="@{/categories}">View Category list</a></p>
<p><a th:href="@{/create-blog}">Create new blog</a></p>
<form>
    Search by blog title:
    <input name="keyword" type="text" th:value="${keyword}"/>
    <input type="submit" value="Search"/>
</form>
<br/>
<table border="1">
    <tr>
        <th>No.</th>
        <th width="100px">Category</th>
        <th width="300px">Title</th>
        <th width="300px">Author</th>
        <th>
            <a th:href="@{'/blogs'(keyword=${keyword})}" style="text-decoration: none">Creation Time</a>
            <input type="hidden" th:name="newStatus">
        </th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    <th:block th:each="blog, iter : ${blogs}">
        <tr>
            <td th:text="${iter.index + 1}"></td>
            <td th:text="${blog.category.name}"></td>
            <td th:text="${blog.title}"></td>
            <td th:text="${blog.author}"></td>
            <td th:text="${blog.creationTime}"></td>
            <td><a th:href="@{/edit-blog/__${blog.id}__}">edit</a></td>
            <td><a th:href="@{/delete-blog/__${blog.id}__}">delete</a></td>
            <td><a th:href="@{/view-blog/__${blog.id}__}">view content</a></td>
        </tr>
    </th:block>
</table>
<div>
    <th:block th:if="${blogs.totalPages != 0}">
        <a th:href="@{'/blogs'(page=${blogs.number - 1}, keyword=${keyword})}"
           th:if="${blogs.hasPrevious()}">Previous</a>
        <span th:text="${blogs.number + 1}"></span> / <span th:text="${blogs.totalPages}"></span>
        <a th:href="@{'/blogs'(page=${blogs.number + 1}, keyword=${keyword})}"
           th:if="${blogs.hasNext()}">Next</a>
    </th:block>
</div>
</body>
</html>